[MASTER]
disable=
    empty-docstring,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-return

[TYPECHECK]
generated-members=slack_message.types.slack_message.Message, slack_message.types.slack_message.Event
